<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="open.v0gdump.varlamov">

	<uses-permission android:name="android.permission.INTERNET"/>

	<application
		android:name="open.v0gdump.varlamov.App"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		tools:ignore="AllowBackup,GoogleAppIndexingWarning">
		<activity android:name="open.v0gdump.varlamov.ui.activity.MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name="open.v0gdump.varlamov.ui.activity.ByDateActivity">
		</activity>
		<activity android:name="open.v0gdump.varlamov.ui.activity.ByTagActivity">
		</activity>
	</application>

</manifest>